include *.txt
include README.md

graft gsw
recursive-include src *.c
recursive-include src *.h

prune docs
prune .github
prune tools
prune notebooks
prune *.egg-info

global-exclude *.so

exclude *.yml
exclude *.yaml
exclude .gitignore
exclude .isort.cfg
exclude .zenodo.json
