name: Build and Deploy docs

on:
  pull_request:
  push:
  release:
    types:
      - published

defaults:
  run:
    shell: bash

# no permissions by default
permissions: {}

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c   # v6.0.0
      with:
        python-version: "3.x"

    - name: Install gsw
      run: >
        python -m pip install -r requirements-dev.txt
        && python -m pip install -e .

    - name: Build documentation
      run: >
        set -e
        && pushd docs
        && make clean html linkcheck
        && popd

    - name: GitHub Pages action
      if: success() && github.event_name == 'release'
      uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e  # v4.0.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build/html
