name: Build and Deploy docs

on:
  pull_request:
  push:
    branches: [main]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup Micromamba
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: false

    - name: Create environment
      shell: bash -l {0}
      run: |
        micromamba create --name TEST python=3 python-build numpy --file requirements-dev.txt --channel conda-forge
        micromamba activate TEST
        pip install -e . --no-deps --force-reinstall
        conda info --all
        conda list

    - name: Build documentation
      shell: bash -l {0}
      run: |
        micromamba activate TEST
        set -e
        pushd docs
        make clean html linkcheck
        popd

    - name: GitHub Pages action
      if: github.ref == 'refs/heads/main'
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build/html
