name: Tarball tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup Micromamba
      uses: mamba-org/provision-with-micromamba@v14
      with:
        environment-file: false

    - name: Create environment
      shell: bash -l {0}
      run: >
        micromamba create --name TEST python=3 python-build numpy --file requirements-dev.txt --channel conda-forge
        && micromamba activate TEST

    - name: Tarball
      shell: bash -l {0}
      run: >
        micromamba activate TEST
        && python -m build --skip-dependency-check --sdist --wheel .
        && check-manifest --verbose
        && twine check dist/*
