name: Tarball tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup Micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-name: TEST
        init-shell: bash
        create-args: >-
          python=3 python-build numpy --file requirements-dev.txt --channel conda-forge

    - name: Tarball
      shell: bash -l {0}
      run: >
        python -m build --skip-dependency-check --sdist --wheel .
        && check-manifest --verbose
        && twine check dist/*
