name: Tests

on:
  pull_request:
  push:
    branches: [ main ]

defaults:
  run:
    shell: bash

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ "3.9", "3.10", "3.11", "3.12" ]
        os: [ windows-latest, ubuntu-latest, macos-latest ]
        # https://scientific-python.org/specs/spec-0000/
        numpy-version: ["==1.24", ">=2"]
        exclude:
          - python-version: "3.12"
            numpy-version: "==1.24"
      fail-fast: false

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c   # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install gsw
      run: >
        python -m pip install -r requirements-dev.txt
        && python -m pip install -e .
        && python -m pip install numpy${{ matrix.numpy-version }}

    - name: Tests
      run: |
        python -m pytest -s -rxs -v gsw/tests
    permissions:
      actions: none