name: Tests

on:
  pull_request:
  push:
    branches: [ main ]

defaults:
  run:
    shell: bash

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ "3.11", "3.12", "3.13", "3.14" ]
        os: [ windows-latest, ubuntu-latest, macos-latest ]
      fail-fast: false

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548   # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install gsw
      run: >
        python -m pip install -r requirements-dev.txt
        && python -m pip install -e .
        && python -m pip install numpy${{ matrix.numpy-version }}

    - name: Tests
      run: |
        python -m pytest -s -rxs -v gsw/tests
    permissions:
      actions: none